
body{
  font-family:Andalé Mono ,monospace ;
  margin: 0px;
  overflow: hidden;
}





.background-image{
  z-index:-1;
  position: fixed;
  width: 100%;
  
  display: block;
  top: 0;
}
 
.MP{
  width: 600px;
}


header{
  background: linear-gradient(to right, hsl(215, 100%, 50%),rgb(33, 33, 255),hsl(215, 100%, 50%));
  height: 110px;
 position: fixed;
 top: 0;
  left: 0;
  width: 1550px;
  z-index: 2;

}

main{
  margin-top:110px;
  
  width: 1550px;
  position: relative;
}




.download_button{
  padding: 20px;
  background-color: hwb(190 0% 0%);
  text-decoration: none;
  color: rgb(0, 0, 255);
  position: absolute;
  top: 500px;
  left: 1150px;
  z-index: 1;
  font-size: 40px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}



.download_button:hover{
 transform: scale(1.06);
 transition: 0.2s ease-in-out;
 background-color: hwb(190 0% 61%);
 color: rgb(206, 206, 255);
}



.main{
  display: block;
  border: 1px solid black;
  padding-bottom: 450px;
  background-color: rgba(0, 0, 0, 0.289);
margin-top: 120px;
height: 100%;
}




div{
  margin: 10 0 10 0;
}



p:hover{
  color:white;
  transition: 0.2s ease-in-out;
}

img:hover{
  transform:scale(1.1);
  transition: 0.2s ease-in-out;
}

img{
  transition: 0.2s ease-in-out;
}

header img{
  width: 80px;
  margin: 10px 0 0 20px ;
}

.main img:hover{
  transform: scale(1);
}
